body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100vw;
    height: 60px;
    background-color: rgb(206, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.logo{
    color: lightslategrey;
    font-size: 130%;
    text-decoration: none;
    font-weight: 800;
    justify-content: space-between;
    width: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
a{
    text-decoration: double;
    justify-content: space-between;
    padding: 70px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
section{
    background-image: url(./risp.jpg);
    height: 350px;
    width: 100vw;
    padding-top: 200px;
}
h2{
    text-align: center;
    font-weight: 1000;
    font-size: 300%;
    font-family: cursive;
}
p{
    text-align: center;
    font-size: larger;
    text-align: top left;
}

}
.p1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
    font-size: 200px;
    font-size: 80%;

}
.p2{
    font-size: 130%;
    font-style: italic bolder;
    font-weight: 800;
    font-size: 50px;
}

.buy{
    justify-content: center;
    align-items: center;

}
.home{
    color: rgb(255, 255, 20);
}
.shop{
    color: rgb(250, 7, 47);
}
.pages{
    color: rgb(9, 118, 161);
}
.vlog{
    color: orange;
}
.contact{
    color: rgb(31, 29, 29);
}
